@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font used in this website */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* shared styles */
.primary-font-color{
    color: #3A3A3A;
}

.display-flex{
    display: flex;
}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 34px;
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-icon-1{
    height: 24px;
    width: 24px;
}

.nav-icon-2{
    height: 36px;
    width: 36px;
}